<div class="col-sm-10 col-sm-offset-2 col-md-11 col-md-offset-1 main">
    <table class="table table-striped">
        <h1 class="page-header">Car Kits</h1>
        <thead>
        <tr>
            <th><i class="fa fa-fw fa-sort"></i></th>
            <th> <i class="fa fa-fw fa-sort"></i>Product Name</th>
            <th> <i class="fa fa-fw fa-sort"></i>Description</th>
            <th> <i class="fa fa-fw fa-sort"></i>Price</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="carKit in carKits"
            ng-class="{'success' : $index==selectedFormIndex}">
            <td>
                <img height="60px" ng-src="{{carKit.image}}"/>
            </td>
            <td>
                {{carKit.productName}}
            </td>
            <td>
                {{carKit.description}}
            </td>
            <td>
                {{carKit.price}}
            </td>
            <td>
                <div class="input-group">
                    <button class="glyphicon glyphicon-plus" ng-click="addCart(accessory)" aria-hidden="true"></button>

                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>

