<div class="col-sm-10 col-sm-offset-2 col-md-11 col-md-offset-1 main">
    <div ng-show="message" class="alert alert-danger" role="alert">{{message}}</div>
    <table class="table table-striped">
        <h1 class="page-header">Exterior Products</h1>
        <thead>
        <tr>
            <th><i class="fa fa-fw fa-sort"></i></th>
            <th> <i class="fa fa-fw fa-sort"></i>Product Name</th>
            <th> <i class="fa fa-fw fa-sort"></i>Description</th>
            <th> <i class="fa fa-fw fa-sort"></i>Price</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="exteriorProduct in exteriorProducts"
            ng-class="{'success' : $index==selectedFormIndex}">
            <td>
                <img height="60px" ng-src="{{exteriorProduct.image}}"/>
            </td>
            <td>
                {{exteriorProduct.productName}}
            </td>
            <td>
                {{exteriorProduct.description}}
            </td>
            <td>
                {{exteriorProduct.price}}
            </td>
            <td>
                <div class="input-group">
                    <button class="glyphicon glyphicon-plus" ng-click="addToCart(exteriorProduct)" aria-hidden="true"></button>

                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>