<div class="row">
    <div class="col-sm-4 col-sm-offset-1 col-md-4 col-md-offset-1 main">
        <img src="{{product.image}}" height="200px" width="200px" alt="..." class="img-thumbnail">
        <p>{{product.numOfLikes}} Likes</p>
    </div>


    <div class="col-sm-1 col-sm-offset-1 col-md-1 col-md-offset-1 main">
        <br>
        <br>
        <br>
        <h1>${{product.price}}</h1>
    </div>


    <div class="col-sm-4 col-sm-offset-1 col-md-4 col-md-offset-1 main">
        <br>
        <br>
        <br>

        <div class="panel panel-default">
            <div class="panel-body">


        <button class="btn btn-default" style="width:120px;height:35px" ng-hide="addToCart()" ng-click="follow()" role="button">Add to Cart</button>
        <br>
        <button class="btn btn-default" style="width:120px;height:35px" ng-hide="likeProduct()" ng-click="follow()" role="button">Like</button>
 <!--       <br>
        <button class="btn btn-default" style="width:120px;height:35px" ng-hide="writeReview()" ng-click="follow()" role="button">Write a Review</button>-->
</div>
            </div>
    </div>

</div>

<div class="row">
    <div class="col-sm-4 col-sm-offset-2 col-md-5 col-md-offset-1 main">
        <table class="table table-striped">
            <h1>Reviews:</h1>
            <thead>
            <tr>
                <th><i class="fa fa-fw fa-sort"></i>Name</th>
                <th> <i class="fa fa-fw fa-sort"></i>Review</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="review in reviews">
                <td>
                    <a href="#/profile/{{review.userId}}">{{review.name}}</a>
                </td>
                <td>
                    {{review.review}}
                </td>
            </tr>
            </tbody>
        </table>
    </div>


    <div class="col-sm-4 col-sm-offset-2 col-md-5 col-md-offset-1 main">
        <h2>Product Description:</h2>
        <div class="panel panel-default">
            <div class="panel-body">
                {{product.description}}
                </div>
            </div>
    </div>
</div>