<div class="container-fluid" style="margin-left:140px">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-2 col-md-7 col-md-offset-1 main">
            <h1 class="page-header">Profile</h1>
            <div ng-show="message" class="alert alert-danger" role="alert">{{message}}</div>
            <form class="form-horizontal">
                <div class="form-group">
                    <label for="inputUsername" class="col-sm-2 control-label">Username</label>
                    <div class="col-sm-10">
                        <input type="username" ng-model="user.username" class="form-control" id="inputUsername" placeholder="Username">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword1" class="col-sm-2 control-label">Password</label>
                    <div class="col-sm-10">
                        <input type="password" ng-model="user.password" class="form-control" id="inputPassword1" placeholder="Password">
                    </div>
                </div>
                <div class="form-group">
                    <label for="firstName" class="col-sm-2 control-label">First Name</label>
                    <div class="col-sm-10">
                        <input type="name" ng-model="user.firstName" class="form-control" id="firstName" placeholder="First Name">
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputEmail1" class="col-sm-2 control-label">Email</label>
                    <div class="col-sm-10">
                        <input type="email" ng-model="user.email" class="form-control" id="inputEmail1" placeholder="Email">
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button class="btn btn-default" ng-show="userIsCurrentUser()" ng-click="update(user)" role="button">Update</button>
                    </div>
                </div>




            </form>
        </div>


        <div class="col-sm-3 col-md-3">
            <br>
            <br>
            <br>
            <img src="images/default-placeholder.png" height="200px" width="200px" alt="..." class="img-thumbnail">

        </div>
        <div class="col-sm-1 col-md-1">
            <br>
            <br>
            <br>
            <br>
            <br>
           <span class="file-input btn btn-primary btn-file" ng-show="userIsCurrentUser()">
                Browse<input type="file" multiple>
            </span>

                <br>
            <br>
            <button class="btn btn-default" style="width:70px;height:35px" ng-hide="userIsCurrentUser()" ng-click="follow()" role="button">Follow</button>


        </div>
    </div>

    <div class="row">
        <div class="col-sm-4 col-sm-offset-2 col-md-5 col-md-offset-1 main">
        <table class="table table-striped">
            <thead>Following</thead>
            <tbody>
            <tr ng-repeat="follower in followers">
                <td>
                    <a href="#/profile/{{follower._id}}">@{{follower.username}}</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>


        <div class="col-sm-4 col-sm-offset-2 col-md-5 col-md-offset-1 main">
            <table class="table table-striped">
                <thead>Reviews</thead>
                <tbody>
                <tr ng-repeat="review in reviews">
                    <td>
                        <a href="#/productdisplay/{{review.productId}}"><img height="100px" ng-src="{{review.product.image}}"/></a>
                    </td>
                    <td>
                       {{review.review}}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>


        </div>


</div>