<!DOCTYPE html>

<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">

        <li ng-class="{'active' : $location.url().indexOf('home') != -1}"><a href="#/home">Home</a></li>
        <!--<li ng-class="{'active' : $location.url().indexOf('register') != -1}"><a href="#/register">Register</a></li>-->
        <!--<li ng-class="{'active' : $location.url().indexOf('login') != -1}" ng-show="isLoggedIn()"><a href="#/login">Login</a></li>-->
        <li ng-class="{'active' : $location.url().indexOf('profile') != -1}" ng-show="isLoggedIn()"><a href="#/profile">Profile</a></li>
        <li ng-class="{'active' : $location.url().indexOf('admin') != -1}" ng-show="isLoggedIn() && isAdmin()"><a href="#/admin">Admin</a></li>
        <li ng-class="{'active' : $location.url().indexOf('forms') != -1}" ng-show="isLoggedIn()"><a href="#/forms">Forms</a></li>

    </ul>
</div>
