<div class="container-fluid">
    <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">Forms</h1>
            <div ng-show="message" class="alert alert-danger" role="alert">{{message}}</div>
            <ul class="nav nav-tabs">
                <li role="presentation" class="active"><a href="javascript:;">Forms</a></li>
                <li role="presentation" ><a href="javascript:;">Fields</a></li>

                <table class="table table-striped table-bordered">
                <thead>
                <tr>

                    <th><i class="fa fa-fw fa-sort"></i>Form Name</th>
                    <th> <i class="fa fa-fw fa-sort"></i>Action</th>

                </tr>
                </thead>

                <tbody>

                <tr>

                    <td>
                        <div class="input-group">
                            <input type="text" ng-model="model.newForm.title" class="form-control" placeholder="Name">
                        </div>
                    </td>

                    <td>
                        <div class="input-group">
                            <button class="glyphicon glyphicon-plus" ng-click="addForm(model.newForm)" aria-hidden="true"></button>

                            <button class="glyphicon glyphicon-ok" ng-click="updateForm(model.newForm)" aria-hidden="true"></button>
                        </div>
                    </td>





                </tr>


                <tr ng-repeat="form in model.forms"
                ng-class="{'success' : $index==model.selectedFormIndex}">
                    <td><a ng-href={{"#/form/"+form._id+"/fields"}}>{{form.title}}</a></td>
                    <td>
                        <div class="input-group">
                            <button class="glyphicon glyphicon-remove" ng-click="removeForm(form)" aria-hidden="true"></button>

                            <button class="glyphicon glyphicon-pencil" ng-click="selectForm($index)" aria-hidden="true"></button>
                        </div>
                    </td>
                </tr>


              <!--  <tr>
                    <td>Contact List</td>
                    <td>
                        <div class="input-group">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>

                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                        </div>


                    </td>
                </tr>


                <tr>
                    <td>To Do List</td>
                    <td>

                        <div class="input-group">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>

                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                        </div>

                    </td>
                </tr>
-->




            </tbody>
                <!--<li role="presentation"><a href="form-fields.html">Fields</a></li><div class="table-responsive">-->
            </table>
            </ul>





        </div>
    </div>
</div>