<div class="container-fluid">
    <div class="row">

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1>Users</h1>
            <div class="alert alert-warning" ng-if="error">
                {{error}}
            </div>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>

                        <th ng-click="toggleSort('username')">
                            <span class="glyphicon glyphicon-chevron-up" ng-if="sortVal == 'username' && reverse == true"></span>
                            <span class="glyphicon glyphicon-chevron-down" ng-if="sortVal == 'username' && reverse == false"></span>
                            Username
                        </th>
                        <th> <i class="fa fa-sort-desc"></i>Password</th>
                        <th ng-click="toggleSort('firstName')">
                            <span class="glyphicon glyphicon-chevron-up" ng-if="sortVal == 'firstName' && reverse == true"></span>
                            <span class="glyphicon glyphicon-chevron-down" ng-if="sortVal == 'firstName' && reverse == false"></span>
                            First Name
                        </th>
                        <th ng-click="toggleSort('lastName')">
                            <span class="glyphicon glyphicon-chevron-up" ng-if="sortVal == 'lastName' && reverse == true"></span>
                            <span class="glyphicon glyphicon-chevron-down" ng-if="sortVal == 'lastName' && reverse == false"></span>
                            Last Name
                        </th>
                        <th> <i class="fa fa-sort-desc"></i>Role</th>
                        <th> <i class="fa fa-sort-desc"></i>Actions</th>
                    </tr>
                    </thead>

                    <tbody>

                        <tr>
                            <td>
                                <div class="input-group">
                                    <input type="text" ng-model="newUser.username" class="form-control" placeholder="Username">
                                </div>
                            </td>
                            <td>
                                <div class="input-group">
                                    <input type="text" ng-model="newUser.password"  class="form-control" placeholder="Password">
                                </div>
                            </td>
                            <td>
                                <div class="input-group">
                                    <input type="text" ng-model="newUser.firstName" class="form-control" placeholder="First Name">
                                </div>
                            </td>
                            <td>
                                <div class="input-group">
                                    <input type="text" ng-model="newUser.lastName" class="form-control" placeholder="LastName">
                                </div>
                            </td>
                            <td>
                                <div class="input-group">
                                    <input type="text" ng-model="newUser.roles"  class="form-control" placeholder="Role 1, Role 2">
                                </div>
                            </td>
                            <td>
                                <div class="input-group">
                                    <span class="glyphicon glyphicon-plus" ng-click="createNewUser(newUser)" aria-hidden="true"></span>
                                    <span class="glyphicon glyphicon-ok" ng-click="updateUser(newUser)" aria-hidden="true"></span>
                                </div>
                            </td>
                        </tr>
                        <tr ng-repeat= "user in users | orderBy : sortVal : reverse">
                            <td>{{user.username}}</td>
                            <td>{{user.password | limitTo : 2}}...</td>
                            <td>{{user.firstName}}</td>
                            <td>{{user.lastName}}</td>
                            <td ><span ng-repeat="role in user.roles">{{role}} |</span></td>
                            <td>
                                <div class="input-group">
                                    <span class="glyphicon glyphicon-remove" aria-hidden="true" ng-click="deleteUser(user)"></span>

                                    <span class="glyphicon glyphicon-pencil" aria-hidden="true" ng-click="setCurrentUser(user)"></span>
                                </div>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>