<!DOCTYPE html>
<html lang="en">

<div class="col-sm-3 col-md-2 sidebar" ng-controller="SidebarController">
    <ul class="nav nav-sidebar">
        <li ng-class="{'active' : $location.url().indexOf('home') != -1}"><a href="#/carbrands">Car Makes</a></li>
        <!--<li ng-class="{'active' : $location.url().indexOf('register') != -1}"><a href="#/register">Register</a></li>-->
        <!--<li ng-class="{'active' : $location.url().indexOf('login') != -1}" ng-show="isLoggedIn()"><a href="#/login">Login</a></li>-->
        <li ng-class="{'active' : $location.url().indexOf('exteriorcleaning') != -1}"><a href="#/exteriorcleaning">Exterior Cleaning</a></li>
        <li ng-class="{'active' : $location.url().indexOf('interiorcleaning') != -1}"><a href="#/interiorcleaning">Interior Cleaning</a></li>
        <li ng-class="{'active' : $location.url().indexOf('accessories') != -1}"><a href="#/accessories">Accessories</a></li>
        <li ng-class="{'active' : $location.url().indexOf('carkits') != -1}"><a href="#/carkits">Car Kits</a></li>


    </ul>

</div>
